sqlglot==23.12.2
fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.7.1
python-dotenv==1.0.1
chromadb==0.5.3
sentence-transformers==3.0.1
rank-bm25==0.2.2
langgraph==0.1.19
langchain==0.2.6
langchain-community==0.2.6
langsmith==0.1.83
requests==2.32.3
datasets==2.20.0
prometheus-fastapi-instrumentator==6.1.0
prometheus-client==0.20.0
pytest==8.2.2
httpx==0.27.0
tqdm==4.66.4
ollama==0.2.1
gradio-client